{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/styleHome.css') }}" rel="stylesheet" />
{% endblock %}
{% block title %}Log in!{% endblock %}

{% block body %}
    <header class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand logo" href="{{ path('app_home') }}">SFLIX</a>
            <div class="d-flex align-items-center">
                <div class="nav-item menu">
                    <a class="btn" href="{{ path('app_home') }}">Home</a>
                </div>
                {% if app.user %}
                    <div class="nav-item dropdown menu ">
                        <a class="btn  dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ app.user.userIdentifier }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a class="dropdown-item" href="{{ path('admin') }}">Administration</a></li>
                            {% endif %}
                            <li><a class="dropdown-item text-danger" href="{{ path('app_logout') }}">Se Déconnecter</a></li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </header>


    <form method="post" class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-body">
                        <h2 class="card-title text-center mb-4">Connexion</h2>
                        {% if app.user %}
                            <div class="alert alert-success">
                                <p>Vous êtes déjà connecté</p>
                            </div>
                        {% endif %}
                        <div class="mb-3">
                            <label for="inputUsername" class="form-label">Username</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Username" autocomplete="username" required autofocus>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="inputPassword" class="form-label">Password</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" autocomplete="current-password" required>
                            </div>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <div class="d-grid gap-2">
                            <button class="btn btn-lg btn-primary" type="submit">Connexion</button>
                        </div>

                        {% if error %}
                            <div class="alert alert-danger mt-3">
                                <p>La connexion a échoué, veuillez réessayer</p>
                            </div>
                        {% endif %}

                        <div class="mt-4 text-center">
                            <p>Vous n'avez pas de compte ? <a href="{{ path('app_register') }}">Inscription ici</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
