{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/styleHome.css') }}" rel="stylesheet" />
{% endblock %}

{% block title %}Register{% endblock %}

{% block body %}
    <header class="navbar navbar-expand-lg">
        <div class="container-fluid  ">
            <a class="navbar logo " href="{{ path('app_home') }}">SFLIX</a>
            <div class="d-flex align-items-center">
                <div class="nav-item menu ">
                    <a class="btn" href="{{ path('app_home') }}">Home</a>
                </div>
                {% if app.user %}
                    <div class="nav-item dropdown menu">
                        <a class="btn dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ app.user.userIdentifier }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a class="dropdown-item" href="{{ path('admin') }}">Administration</a></li>
                            {% endif %}
                            <li><a class="dropdown-item text-danger" href="{{ path('app_logout') }}">Se Déconnecter</a></li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </header>


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-body">
                        <h1 class="card-title text-center mb-4">Inscription</h1>
                        {% if app.user %}
                            <div class="alert alert-success">
                                <p>Vous êtes déjà connecté</p>
                            </div>
                        {% endif %}
                        {{ form_start(registrationForm, {'attr': {'class': 'needs-validation'}}) }}

                        <div class="mb-3">
                            {{ form_label(registrationForm.username) }}
                            {{ form_widget(registrationForm.username, {
                                attr: {
                                    'class': 'form-control' ~ (form_errors(registrationForm.username) ? ' is-invalid' : ''),
                                    'autocomplete': 'off',
                                    'required': 'required'
                                }
                            }) }}
                            {% if registrationForm.username.vars.errors %}
                                <div class="invalid-feedback">
                                    {{ form_errors(registrationForm.username) }}
                                </div>
                            {% endif %}
                        </div>


                        <div class="mb-3">
                            {{ form_label(registrationForm.plainPassword, 'Password') }}
                            {{ form_widget(registrationForm.plainPassword, {
                                attr: {
                                    'class': 'form-control' ~ (form_errors(registrationForm.plainPassword) ? ' is-invalid' : ''),
                                    'required': 'required'
                                }
                            }) }}
                            {% if registrationForm.plainPassword.vars.errors %}
                                <div class="invalid-feedback">
                                    {{ form_errors(registrationForm.plainPassword) }}
                                </div>
                            {% endif %}
                        </div>

                        <div class="mb-3 form-check">
                            {{ form_widget(registrationForm.agreeTerms, {
                                attr: {'class': 'form-check-input' ~ (form_errors(registrationForm.agreeTerms) ? ' is-invalid' : '')}
                            }) }}
                            {{ form_label(registrationForm.agreeTerms) }}
                            {% if registrationForm.agreeTerms.vars.errors %}
                                <div class="invalid-feedback">
                                    {{ form_errors(registrationForm.agreeTerms) }}
                                </div>
                            {% endif %}
                        </div>

                        <div class="d-grid gap-2">
                            <button class="btn btn-lg btn-primary" type="submit">S'inscrire</button>
                        </div>

                        <div class="mt-4 text-center">
                            <p>Vous avez déjà un compte ? <a href="{{ path('app_login') }}">Connexion ici</a>.</p>
                        </div>

                        {{ form_end(registrationForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
