{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/styleHome.css') }}" rel="stylesheet" />
{% endblock %}

{% block title %}Sflix{% endblock %}

{% block body %}
    <header class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid">
            <a class="navbar logo" href="{{ path('app_home') }}">SFLIX</a>
            <div class="d-flex align-items-center ">
                {% if app.user %}
                    <div class="nav-item menu ">
                        <a class="btn " href="{{ path('app_suggestion') }}">Suggestion</a>
                    </div>
                     
                    <div class="nav-item menu ">
                        <a class="btn" href="{{ path('app_favorite') }}">Mes Series</a>
                    </div>
                    
                    <div class="nav-item dropdown menu">
                        <a class="btn dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ app.user.userIdentifier }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a class="dropdown-item adm" href="{{ path('admin') }}">Administration</a></li>
                            {% endif %}
                            <li><a class="dropdown-item text-danger" href="{{ path('app_logout') }}">Se Déconnecter</a></li>
                        </ul>
                    </div>

                {% else %}
                    <div class="nav-item">
                        <a class="btn btn-primary" href="{{ path('app_login') }}">Se Connecter</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </header>
    <div class="container mt-4 bod">
        <h2>Notre Catalogue <small>({{ series|length }})</small></h2>
        <form action="/search" method="get">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Rechercher" aria-label="Rechercher" name="query" autocomplete="off" value="{{ app.request.query.get('query', '') }}">
                <button class="btn btn-outline-primary" type="submit">🔍</button>
                <a class="btn btn-outline-danger" href="{{ path('app_home') }}" role="button">Reset</a>
            </div>
        </form>

        <div class="row">
            {% if series is empty %}
                <div class="col-12">
                    <div class="alert alert-info" role="alert">
                        Aucun résultat trouvé pour cette recherche.
                    </div>
                </div>
            {% else %}
                {% for serie_title in series %}
                    {% set image_filename = serie_title ~ '.jpg' %}
                    {% set isLiked = likedSeries[serie_title] ?? false %}
                    <div class="col-md-3 col-sm-6 mb-6 padd2">
                        <div class="card h-100">
                            <div class="image-container position-relative">
                                <img src="{{ asset('img-series/' ~ image_filename) }}" class="card-img-top" alt="{{ serie_title }}">
                                {% if app.user %}
                                    <button class="overlay position-absolute w-100 h-100 d-flex justify-content-center align-items-center like-button" data-title="{{ serie_title }}" data-liked="{{ isLiked ? 'true' : 'false' }}">
                                        <img src="{{ asset(isLiked ? 'img-icons/heart-fill.svg' : 'img-icons/heart.svg') }}" alt="Like" class="heart-icon">
                                    </button>
                                {% endif %}
                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-uppercase">{{ serie_title }}</h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

<button type="button" id="scroll">
  <img src="{{'img-icons/arrow-up.svg' }}" alt="fleche">
</button>
{% endblock %}

