{% extends 'base.html.twig' %}


 {% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/styleHome.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
     <link href="{{ asset('js/scriptHome.js') }}" rel="javascript"/>
{% endblock %}

{% block title %}Sflix{% endblock %}

{% block body %}
    

    <header>
        <a href="{{path('app_home') }}">SFLIX</a>
        <div class="left-side">
            {% if app.user %}
                <div class="menu">
                    <a href="">Mes Series</a>
                </div>
                <div class="logged-in">
                    <a>{{ app.user.userIdentifier }}</a>
                </div>
                <div class="menu deco">
                    <a href="{{path('app_logout') }}">Se Deconnecter</a>
                </div>
            {% else %}
                <div class="button-connect">
                    <a href="{{path('app_login') }}">Se Connecter</a>
                </div>
            {% endif %}
        </div>
    </header>

    <h2>Notre Catalogue </h2>
    <div class="search">
                <input type="text" placeholder="Rechercher">
                <button>🔍</button>
    </div>

    <main>
        {% for serie_title in series %}
            {% set image_filename = serie_title ~ '.jpg' %}
            <div class="poster">
                <div class='image-poster'>
                    <img src="{{ asset('img-series/' ~ image_filename) }}" alt="{{ serie_title }}">
                    <div class="nom-serie">
                        <p>{{ serie_title |upper }}</p>
                    </div>
                    {% if app.user %}
                        <div class="coeur">
                            <img id="heart" onclick="like_serie()" src="{{asset('img-icons/heart.svg') }}">
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </main>

{% endblock %}

