{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/styleLogin.css') }}" rel="stylesheet" />
{% endblock %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class='log-box'>
        <h1 class="regis">Register</h1>

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.username ,{
                attr: {'class': 'username'}
            }) }}

            {{ form_row(registrationForm.plainPassword, {
                label: 'Password',
                attr: {'class': 'password'}
            }) }}
            
            {{ form_row(registrationForm.agreeTerms,{
                attr: {'class': 'agree'}
            }) }}

            <button type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
